**DATA ANALYTICS-I**
## 1. Problem Statement
Perform the following operations on any open source dataset (e.g., data.csv)
1. Create a Linear Regression Model using Python/R to predict home prices using Boston Housing
Dataset (https://www.kaggle.com/c/boston-housing). The Boston Housing dataset contains
information about various houses in Boston through different parameters. There are 506 samples
and 14 feature variables in this dataset.

**Import libraries and create alias for Pandas, Numpy and Matplotlib**

In [23]:
import pandas as pd
import numpy as np

## 2. Data Collection
### Loading the data

In [24]:
df=pd.read_csv("boston.csv")

In [25]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,BLACK,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 3. Exploratory Data Analysis
**Data Preprocessing:**

In [26]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,BLACK,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  BLACK    506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [28]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,BLACK,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

**Data Preprocessing**

In [29]:
df.isna()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,BLACK,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [30]:
df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
BLACK      0
LSTAT      0
MEDV       0
dtype: int64

**Checking for Outliers**

## 4. Feature Engineering
**Outlier Detection and Removal:**

In [31]:
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
df.boxplot()

In [33]:
Q1 = df['MEDV'].quantile(0.25)
Q3 = df['MEDV'].quantile(0.75)
IQR = Q3 - Q1
Lower_limit = Q1 - 1.5 * IQR
Upper_limit = Q3 + 1.5 * IQR
print(f'Q1 = {Q1}, Q3 = {Q3}, IQR = {IQR}, Lower_limit = {Lower_limit}, Upper_limit = {Upper_limit}')

Q1 = 17.025, Q3 = 25.0, IQR = 7.975000000000001, Lower_limit = 5.0624999999999964, Upper_limit = 36.962500000000006

In [34]:
outliers_medv=[]
for i in df.MEDV:
    if i<Lower_limit or i>Upper_limit:
       outliers_medv.append(i)
print("outliers are",outliers_medv)

outliers are [38.7, 43.8, 41.3, 50.0, 50.0, 50.0, 50.0, 37.2, 39.8, 37.9, 50.0, 37.0, 50.0, 42.3, 48.5, 50.0, 44.8, 50.0, 37.6, 46.7, 41.7, 48.3, 42.8, 44.0, 50.0, 43.1, 48.8, 50.0, 43.5, 45.4, 46.0, 50.0, 37.3, 50.0, 50.0, 50.0, 50.0, 50.0, 5.0, 5.0]

In [35]:
df[df.MEDV<Lower_limit].index

Int64Index([398, 405], dtype='int64')

In [36]:
df1=df.drop(df[df.MEDV<Lower_limit].index & df[df.MEDV>Upper_limit].index)

C:\Users\jgdod\AppData\Local\Temp\ipykernel_1764\2812571557.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  df1=df.drop(df[df.MEDV<Lower_limit].index & df[df.MEDV>Upper_limit].index)

In [37]:
df1.boxplot()

In [38]:
outliers_medv=[]
for i in df1.MEDV:
    if i<Lower_limit or i>Upper_limit:
       outliers_medv.append(i)
print("outliers are",outliers_medv)

outliers are [38.7, 43.8, 41.3, 50.0, 50.0, 50.0, 50.0, 37.2, 39.8, 37.9, 50.0, 37.0, 50.0, 42.3, 48.5, 50.0, 44.8, 50.0, 37.6, 46.7, 41.7, 48.3, 42.8, 44.0, 50.0, 43.1, 48.8, 50.0, 43.5, 45.4, 46.0, 50.0, 37.3, 50.0, 50.0, 50.0, 50.0, 50.0, 5.0, 5.0]

**Outlier Removal**

In [39]:
X = df.drop(['MEDV'], axis = 1)
y = df['MEDV']

In [40]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,BLACK,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [41]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

## 5. Model Building and Training

In [42]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size =0.2,random_state = 0)

**Training and testing the model**

In [43]:
import sklearn
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [44]:
model=lm.fit(xtrain, ytrain)

In [45]:
model

LinearRegression()

**Predict the y_pred for all values of train_x and test_x**

In [46]:
ytrain_pred = lm.predict(xtrain)
ytest_pred = lm.predict(xtest)
ytrain_pred

array([32.55692655, 21.92709478, 27.54382573, 23.60318829,  6.57190962,
       14.94183849, 22.2234359 , 29.16492082, 33.24362083, 13.14592261,
       20.25607099, 20.69823381, 12.65147525, 23.36451045,  5.04647867,
       19.82921197,  9.41949932, 44.64390988, 30.78308135, 12.51377155,
       17.7083025 , 21.40137495, 23.63206936, 20.43451195, 35.01471208,
       13.84093827, 21.04977584, 35.15299117, 19.43031106, 13.17488144,
       14.10200042, 23.10677783, 14.38600111, 31.24428679, 25.30231549,
       15.41257398, 24.21291852,  9.40801187, 14.94526286, 20.83029825,
       32.74172958, 27.96372521, 25.60836003, 15.56419667, 31.11934684,
       27.96958264, 13.99703059,  7.63346533, 28.4388332 , 25.33766463,
        4.52504654, 28.38514306, 17.1896917 , 29.74225124, 20.45365104,
       15.92613078, 17.88247152, 12.73233004,  8.75151422, 19.2087374 ,
       34.49694507, 32.94684483, 23.67278817, 19.55243904, 22.8357545 ,
       26.87133257, 21.80817968, 17.06379885, 32.05027982, 10.92397211,
       19.43423447, 32.4854791 , 18.83330461, 15.95730389, 18.64348601,
       14.44808929, 24.60654801, 24.2966726 , 16.64095381, 13.32850391,
       20.20307548, 25.12819701, 17.18033172, 24.71277155, 22.55275499,
       27.95373582, 35.65590799, 16.64554264, 11.83311357, 34.84466464,
       30.84970933, 20.7296176 , 39.5623948 , 28.93322544, 29.14486603,
       17.37121002, 26.82268232, 40.00777296, 28.73960914, 16.44453732,
       37.45185446, 35.50108073, 13.44578945, 29.15098204, 21.60750842,
       24.3179916 , 21.41700241, 23.69538029, 27.763419  , 29.66227826,
       14.17302558, 26.07579718, 23.29927812, 12.80163317, 13.72880538,
       25.27684715, 19.3372779 , 30.54665354, 10.97447089, 23.60361618,
       16.97107603, 16.94075184, 22.59508311, 21.66478168, 11.77477027,
       25.21624705, 28.69690945, 20.17018883, 12.57893016, 25.48767672,
       25.94576428, 25.07919075, 23.5616099 , 26.7499689 , 16.61402974,
       21.79867747, 36.15143711, 21.00423145, 35.88524905, 25.69352037,
       21.5263148 , 15.87068763, 31.29616772, 21.21153127, 27.77524582,
       14.8263031 , 32.22158358, 13.99145209,  1.72558788, 19.37012454,
       14.26927105, 37.54465846, 15.72768892, 14.42603011, 27.31195528,
       23.24522425, 18.47439387, 30.56792527, 27.27498194, 27.27933163,
       24.82223745, 24.16626145, 23.72500963, 11.15226922, 20.76322385,
       13.54743953, 17.16753222, 12.72059151, 28.36113417, 14.93078086,
       16.28718393, 28.70785889, 14.89693976, 21.24395164, 12.83793534,
       13.8967354 , 22.63435472, 21.22168525, 14.71193886, 20.93690941,
       16.89161444, 24.57078637, 12.55171427, 34.77581569, 12.04428697,
       43.13783582, 31.24743877, 35.27489214, 21.44652404, 15.75342369,
       26.54541539, 29.48749252, 14.09267258, 26.55382087, 37.06264306,
       17.64994791, 10.60033751, 34.12962592, 35.60893841, 18.29850589,
       22.55033558, 17.99336763, 24.37931178, 19.51737003, 27.30545421,
       -4.3921497 , 20.5694959 , 35.24711794, 36.62936652, 25.08667454,
       27.21318383, 20.76260072, 20.62207277, 15.87527321, 20.67111164,
       20.55222254, 27.90614562, 19.6623801 ,  7.40663904, 16.40149348,
       32.41751592, 35.22532239, 17.48615135, 18.73060335, 23.40379308,
        6.90428516, 21.44745461, 24.02200142, 16.46784691, 18.38505179,
       21.90096579, 27.59158204, 25.48139462, 37.02340322, 15.43332269,
       28.60694794, 25.833241  , 22.27537004, 38.70334609, 20.83802332,
       23.4287209 , 22.86380935, 12.48755328, 20.30380995, 33.59657861,
       24.79674983, 18.00283472, 33.54517371, 21.63038303, 28.34884771,
       32.26697938, 36.74735276, 22.21068249, 24.03052252, 22.44265374,
       31.82414277, 22.3672764 , 18.83724841, 21.79697632, 28.24902955,
       22.5282343 , 21.81339391, 17.00781251, 17.49258071, 16.96573172,
       17.42535476, 16.49296072, 31.60388241, 23.76669997, 17.5783377 ,
       19.8104465 , 33.69341038, 13.95441929, 24.95294806, 17.37139503,
       30.49949836, 29.96325775, 22.55730163, 20.82912579, 35.02490097,
       22.62414952, 32.89864678, 20.77381521, 31.41949305, 30.90222525,
       37.56313681, 26.83815938, 21.9299641 , 28.71684915, 16.17264967,
       26.97631217, 21.09345616, 30.46198221,  9.94954653, 30.89000499,
        5.84660346, 15.62690795, 18.15511465, 35.40907542, 32.07204745,
       11.0533533 , 13.29217059, 21.60325564, 34.44368387, 18.63979788,
       19.19398001, 15.00401901, 25.78879807, 41.15008314, 25.03321118,
       42.02049754, 24.93655332, 22.29015819, 12.26449688, 12.01986598,
       14.14864319, 18.48192539,  3.06216934, 27.51260448, 26.07255247,
       41.04860013, 21.10381709, 21.14679988, 34.06176587, 33.41315924,
        9.7266196 , 24.74423086, 43.37659562, 16.9546337 , 17.89698454,
       25.51231449, 18.43599095,  6.12378352, 19.32867486, 34.9210476 ,
       16.23395668, 23.02767993, 13.57396353, 24.50837677, 18.77408796,
       17.32594697, 18.77680161, 33.1153209 , 19.46400572, 30.73370111,
       32.76024301, 41.30498546, 19.14302841, 16.57710162, 37.54775334,
       17.98685071,  9.44489833, 15.1641066 , 24.94105282, 19.68981249,
       16.62354285, 27.42640244, 12.97145628,  5.84069961, 19.01616688,
        9.8593521 , 28.08568859,  4.55202156, 29.19078851, 32.18448197,
       22.14626525, 16.77353103, 18.09521326, 20.69880761, 33.59801009,
       27.76466052, 19.52622298, 20.73263109,  6.66762852, 28.91184184,
       24.61296652, 22.15495216, 13.64649885, 25.7963897 , 19.33474204,
        8.85925152, 26.69406634, 16.19490488, 31.36752127, 32.61895119,
       25.44594779, 18.53296899, 30.60523455, 21.56355414, 25.27299928,
       25.91044256, 31.59739298, 24.50960565, 34.45005694, 17.11216878,
       19.69986884, 18.54092642, 40.99282958, 25.1228036 , 19.49495107,
       33.32636427, 23.79620777, 18.45835276, 23.24918114])

In [47]:
ytrain

220    26.7
71     21.7
240    22.0
6      22.9
417    10.4
       ...
323    18.5
192    36.4
117    19.2
47     16.6
172    23.1
Name: MEDV, Length: 404, dtype: float64

## 6. Model Evaluation

In [50]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(ytrain, ytrain_pred)

print("The model performance for training set")
print("--------------------------------------")
print('MSE is {}'.format(mse))
print("\n")

# model evaluation for testing set
#y_test_predict = lin_model.predict(X_test)
mse = mean_squared_error(ytest, ytest_pred)


print("The model performance for testing set")
print("--------------------------------------")
print('MSE is {}'.format(mse))
print("\n\n\n")

rmse = (np.sqrt(mean_squared_error(ytrain, ytrain_pred)))
r2 = r2_score(ytrain, ytrain_pred)

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

# model evaluation for testing set
#y_test_predict = lin_model.predict(X_test)
rmse = (np.sqrt(mean_squared_error(ytest, ytest_pred)))
r2 = r2_score(ytest, ytest_pred)

print("The model performance for testing set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

The model performance for training set
--------------------------------------
MSE is 19.326470203585725


The model performance for testing set
--------------------------------------
MSE is 33.44897999767649




The model performance for training set
--------------------------------------
RMSE is 4.396188144698282
R2 score is 0.7730135569264234


The model performance for testing set
--------------------------------------
RMSE is 5.783509315085132
R2 score is 0.5892223849182514